import React, { HTMLAttributes } from "react";
import styles from "./{{ name }}.module.css";

interface Props extends HTMLAttributes<any>

export const {{ pascalCase name }}: React.FC<Props> = (props) => {
  return (
    <div className={{styleClass name}} {...props}>
      {{ pascalCase name }}
    </div>
  );
};
